[submodule "gazebo_build_my_world"]
	path = gazebo_build_my_world
	url = git@github.com:portgasray/gazebo_build_my_world.git
[submodule "EKFLab"]
	path = EKFLab
	url = https://github.com/portgasray/EKFLab
[submodule "robond-go_chase_it"]
	path = robond-go_chase_it
	url = git@github.com:portgasray/robond-go_chase_it.git
